/* top banner */
p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.apply-top-container {
  width: 100%;
  position: relative;
  padding: 20em 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../images/together1.jpg");
}
.apply-top-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 43, 82, 0.575);
  content: "";
}
.apply-header {
  width: 80%;
  text-align: left;
  margin-bottom: 80px;
  padding-left: 20em;
  position: relative;
}
.apply-header-title {
  color: rgb(253, 253, 253);
  font-size: 80px;
  text-shadow: 6px 2px 6px black;
  font-weight: 900;
  margin-top: 1em;
}
.apply-container-title {
  text-align: center;
  padding: 3em;
  background-color: rgba(197, 197, 197, 0.39);
}
.apply-container-title h1 {
  font-size: 50px;
}

/* container */

.apply-container {
  background-color: rgba(153, 107, 228, 0.178);
  padding: 1em;
  display: flex;
  margin: 2em auto;
  width: 1300px;
  z-index: 2;
}

.guide_table {
  margin: 0 2em;
  z-index: 2;
}

.item {
  display: flex;
  flex-direction: row;
}
.item .list-1 {
  width: 200px;
  padding: 3em 2em;
  margin-right: 3em;
  border-top: 1px solid purple;
}
.item .list-2 {
  width: 800px;
  padding: 3em 4em;
  border-top: 1px solid gray;
  font-size: 20px;
}
.item .list-3 {
  display: flex;
  flex-direction: row;
}
.item .list-3 li {
  margin-right: 3em;
  text-align: center;
}
.item .list-3 p {
  text-align: center;
}
.first {
  margin-bottom: 1em;

  border-radius: 10%;
  padding: 10px;
  background-color: rgba(180, 131, 212, 0.534);
  width: auto;
  max-width: max-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: center;
  margin: 10px auto;
}

/* background image */
.back {
  height: 200000px;
}
#back-image {
  background-image: url(../images/back1.PNG);
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-position: 10% 300px;
}
#back-image2 {
  background-image: url(../images/back2.png);
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  height: 200%;
  width: 100%;
  z-index: 1;
  background-position: 90% 800px;
}
#back-image3 {
  background-image: url(../images/back3.png);
  background-size: 300px;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  height: 200%;
  width: 100%;
  z-index: 1;
  background-position: 10% 1400px;
}

.list-4 {
  display: flex;
  flex-direction: column;
}
.list-4 .one {
  display: flex;
}
.list-4 .two {
  margin-bottom: 1em;

  border-radius: 10%;
  padding: 10px;
  background-color: rgba(180, 131, 212, 0.534);
  margin-right: 2em;
}
.list-4 .three {
  margin-bottom: 20px;
  line-height: 150%;
}

/* button-apply */

.actions li {
  width: 300px;
}

#btn_apply {
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 6px;
  align-items: center;
  padding: 0 0em;
  background: #ba55e97c;
  color: #fff;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#btn_apply.button--inverted {
  background: #fff;
  color: #ba55e97c;
}

#btn_apply > span {
  display: inline-block;
  padding: 1em 0;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

#btn_apply::before {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  color: #000;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
#btn_apply:hover {
  background-color: #1c1488;
}

#btn_apply:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
#btn_apply:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#btn_apply:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}

.actions #btn_apply:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}
.actions #btn_apply:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
  transition-delay: 0.135s;
}
.actions #btn_apply:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
.actions #btn_apply:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
.actions #btn_apply:hover > span:nth-child(6) {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.3rem;
  width: 500px;
}
